doctype html
html
    head
        title Chat Application Example by DEVAHOY
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.2/css/bulma.css')
        script(src='/socket.io/socket.io.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    body
        #chat-app
            #chat.has-text-centered
                section.hero.is-dark
                    .hero-body 
                        .container
                            h1.title PPLA Demo Chat
                            h2 Mini Chat Application with Node.js + socket.io
                section.section.chat-container
                    .container
                        .columns
                            .box.column.is-8.is-offset-2
                                h2.title Chatbox
                                .chat-messages.has-text-left
                                    ul#chat-messages
                                form
                                    .field.has-addons
                                        p.control
                                            input(type='text' class='input' value='PPLA FS' id='name')
                                        p.control.is-expanded
                                            input(type='text' class='input' placeholder='message' id='message')
                                        p.control
                                            input(type='submit' class='button is-info' value='Post')
                footer
                    .container
                        .content
                            p
                                | Powered by PPLA
            script.
                const socket = io();
                $('form').submit(() => {
                    const name = $('#name').val();
                    console.log(`name ${name}`);
                    const message = $('#message').val();
                    console.log(`message ${message}`);

                socket.emit('chatter', `${name} : ${message}`);
                    $('#message').val('');
                    return false; 
                });

                socket.on('chatter', function(message) {
                    console.log(`--> $message`);
                    $('#chat-messages').append($('<li>').text(message));
                });